<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Books</title>
  </head>

  <body>
    <h1>Books</h1>

    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title"  class="form-control">
          </div>
          <div class="form-group">
            <label for="rating">Rating:</label>
            <input type="text" name="rating" class="form-control">
          </div>
          <div class="form-group">
            <label for="price">Author:</label>
            <input type="text" name="author" class="form-control">
          </div>
          <input type="submit" value="Filter" class="btn btn-default">
          <div class="form-group">
            <label for="price">Min Price:</label>
            <input type="text" name="min_price" class="form-control">
          </div>
          <input type="submit" value="Filter" class="btn btn-default">
          <div class="form-group">
            <label for="price">Max Price:</label>
            <input type="text" name="max_price" class="form-control">
          </div>
          <input type="submit" value="Filter" class="btn btn-default">
        </form>
      </div>
    </div>

    <!-- <%= @author %> -->

    <% @books.each do |book| %>

      <%= image_tag(book.img_url) %>
      <%= book.title %>
      <%= "#{book.rating} stars" %>
      <%= book.author.name %>
      <%= link_to('show', pages_show_book_path(id: book.id)) %>

      <br>


    <% end %>

  </body>
</html>
